<!-- Launch file for L shape box fitting -->  
<launch>

  <node pkg="convex_optimize_fitting" type="convex_optimize_fitting" name="convex_optimize_fitting" output="screen" >
    <param name="input_cluster_topic"           value="/seg/obsdet_clusters_array"/>
    <param name="bbox_target_frame"           value="velodyne_1"/>     
  </node>

  <node pkg="tf2_ros"  type="static_transform_publisher" name="velodyne_to_map" args="0 0 -1.57  0 0 0  /velodyne /map" /> -->

  <!-- <node pkg="tf2_ros"  type="static_transform_publisher" name="velodyne1_velodyne2" args="-0.460778   -0.287262 0.000437352     3.07044 0.000573409  -0.0241127 /velodyne_1 /velodyne_2" />
  <node pkg="tf2_ros"  type="static_transform_publisher" name="base_link_to_velodyne1" args="0.23   0.14   0   0 0 0  /base_link  /velodyne_1" />
  <node pkg="tf2_ros"  type="static_transform_publisher" name="map_to_base_link" args="0 0 0    0 0 0  /map /base_link" /> -->

  <!-- Rviz -->
  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find convex_optimize_fitting)/rviz/convex_optimize_fitting.rviz" output="log" respawn="false" /> -->

</launch>
